<% provide(:title, 'Bio') %>
<script>
    $(document).ready(function() {
        $(".fancyFrame").click(function() {
			$.fancybox({
				'minWidth': 700
				'width': '70%', // or whatever
				'height': '99%',
				'autoDimensions': true,
				'overlayShow': true,
				'content': '<embed src="'+this.href+'#nameddest=self&page=1&view=FitH,0&zoom=80,0,0" type="application/pdf" height="99%" width="100%" />', 
				'hideOnContentClick': false,
				'onClosed': function() {
				     $("#fancybox-inner").empty();
				   }
			});
			return false;
		}); //end click
    });
</script>

<div class="center span10 hero-unit">
	<h1>Biography</h1>
	</br>
	<div>
		<div>
			<p>I currently live in the Boston area working for Dentsply Implants. I’m the Senior Engineer responsible for the Atlantis custom abutment operations and leading process optimizations projects.</p>
		   	<p>I previously worked at 3M in St. Paul, Minnesota working on commercializing the manufacuring operations of the second generation intra-oral scanner, the 3M True Definition Scanner. The foundation of the technology was acquired by 3M from a MIT/Harvard start-up, Brontes Technologies. Other major accomplishments included working with a team and other businesses to create the process and improve the additive manufacturing hardware in Lexington, MA to enable the commercial launch of the first generation scanner, the Chairside Oral Scanner</p>
		  	<p>I am currently interested in start-ups/building new businesses, improving business efficiency to maximize profits, and developing innovative but pragmatic solutions to solve problems. Side projects include this website, understanding Rails, and playing with electronics.</p>
  		  	<p>My passions include figuring and understanding how things in the world works, creating new products, cooking good food, and drinking a good beer.  Most of all though, I strive to live life to its fullest with friends and family and make a positive mark in people's lives.
  		  	</p>
  		  	<p><a title="mailto:paul <at> paulwanless dot com?subject=" href="mailto:paul paulwanless com?subject=">Email me - paul(at)paulwanless dot com</a> to discuss jobs, business opportunities, or to just say hi.</p>
		</div>
	</div>
	<br></br>
	<div class="linked_in">
		<p>LinkedIn Profile<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
		<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/howardpaulwanless" data-format="hover"></script></p>
	</div>
	<br></br>
	<div>
		<p>Check out my (now out of date) visual resume here</p>
		<%= link_to( image_tag( "bio/Paul-Wanless-resume-visualized.png",alt: "Visual Resume"),"/data/Paul-Wanless-resume-visualized.pdf", :class=>"fancyFrame",alt: "Visual Resume") %></a>
		<!-- <iframe src="http://docs.google.com/gview?url=http://www.paulwanless.com/bio/data/Paul-Wanless-resume-visualized.pdf&embedded=true" style="width:100%; height:100%;" frameborder="0"></iframe> -->
	</div>
</div>