<% provide(:title, 'Bio') %>

<h1>Biography</h1>

<div>
	<div class="">
	  <p>I currently live in the Minneapolis area working for 3M Digital Oral Care. I’m the senior engineer responsible for the post-scan digital data operations and the medical hardware manufacturing operations. I previously worked at Lexington location for Brontes Technologies, a MIT/Harvard start-up acquired by 3M to work with the team to commercialize the COS product and reducing manufacturing costs.  <br /></p>
	  <p><br /></p>
	  <p>I am currently interested in start-ups/building new businesses, improving business efficiency to maximize profits, and developing innovative but pragmatic solutions to solve problems.  Side projects include this website, understanding Rails, and playing with Arduino hardware.  <br /></p>
	  <p><br /></p>
	  <p>My passions include figuring and knowing how the world works, creating new products, cooking good food, and drinking a good beer.  Most of all though, I strive to live life to its fullest with friends and family.<br /></p>
	  <p><br /></p>
	  <p><a title="mailto:paul@paulwanless.com?subject=" href="mailto:paul@paulwanless.com?subject=">Email me</a> to discuss jobs, business opportunities, or to just say hi.<br /></p>
	</div>
</div>