<div class="left hero-unit">
	<h1>Welcome</h1>
	<p>This site is under construction with Rail 3.2. Moved my domain away from GoDaddy to Namescheap
		and using Linode to host my VPS. Hope to have the site up soon</p>
</div>