<div class="left hero-unit">
	<h1>Welcome</h1>
	<p>This my personal website and it is currently under construction with Rail 3.2. Moved my domain away from GoDaddy to Namescheap and using Linode to host my VPS. Hope to have the site up soon</p>
</div>

<div class="container">
	<div class="badges">
		<nav class="center">
				<%= link_to image_tag("linode.png", size: "70x70", alt: "Linode"), "http://www.linode.com/?r=4db1065a79e9db35d9a1840b8e31044b9fcd8dda" %>
				<%= link_to image_tag("mongodb-blue.png", alt: "MongoDB"), 'http://mongodb.org' %>
				<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
		</nav>
	</div>
</div>