<% provide(:title, 'Work Portfolio') %>

<div class="left hero-unit">
	<h1>Work Portfolio</h1>
	<p>Under construction</p>
	<h2>Companies</h2>
	<ol class="work_list">
		<li>Galyan's</li>
		<li>MF Fleischhacker</li>
		<li>University of Minnesota - Housing and Residential Life</li>
		<li>3M - Display and Graphics</li>
		<li>Cardinal Glass</li>
		<li>3M - Electronics Solutions Division</li>
		<li>3M - Optimized Engineering</li>
		<li>Brontes Technologies</li>
		<li>3M - Health Care - Digital Oral Care</li>
	</ol>
	
	<h2>Skills/Experience</h2>
	<ol class="work_list">
		<li>Additive Manufacturing</li>
		<li>Medical Device Commercialization</li>
		<li>Outsourced Manufacturing</li>
		<li>LEAN Six Sigma</li>
	</ol>
	
	<!-- <ul id="timeline" class="timeline">
		<li><%= Time.now.strftime("%Y") %></li>	
			<ul>
			<li>3M</li>
			</ul>
		<li>2006</li>	
	</ul>
	 -->
	
</div>