<% provide(:title, 'Work Portfolio') %>

<div class="left hero-unit">
	<h1>Work Portfolio</h1>
	<p><em>Under construction</em></p>
	<h2>Companies and Positions</h2>
	<ol class="unstyled">
		<li><strong>Dentsply - Dentsply Implants</strong></li>
			<dl class="work_title">
				<li>Senior Process Engineer - ATLANTIS</li>
			</dl>
		<li class="company"><strong>3M Health Care: <em>Digital Oral Care</em></strong></li>
			<dl class="work_title">
				<li>Senior Manufacturing Engineer</li>
			</dl>
		<li><strong>Brontes Technologies: a 3M subsidiary</strong></li>
			<dl class="work_title">
				<li>Process Engineer</li>
			</dl>
		<li><strong>3M Optimized Engineering</strong></li>
			<dl class="work_title">
				<li>Optimized Operations Engineer</li>
			</dl>

		<li><strong>Galyan's <em>(currently Dick Sporting Goods)</em></strong></li>
			<dl class="work_title">
				<li>Sport's Equipment Sales Associate</li>
				<li>Climbing wall facilitator</li>
			</dl>
		<li><strong>M.F. Fleischhacker</strong></li>
			<dl class="work_title">
				<li>Masonry Laborer/Finisher</li>
			</dl>
		<li><strong>University of Minnesota - Housing and Residential Life</strong></li>
			<dl class="work_title">
				<li>Community Advisor (<em>AKA Residential Advisor(RA))</em></li>
			</dl>
		<li><strong>3M Display and Graphics</strong></li>
			<dl class="work_title">
				<li>Technical Aide</li>
			</dl>
		<li><strong>Cardinal Glass</strong></li>
			<dl class="work_title">
				<li>Production Engineer</li>
			</dl>
		<li><strong>3M Electronics Solutions Division</strong></li>
			<dl class="work_title">
				<li>Process Engineer</li>
			</dl>




	</ol>

	<h2>Skills/Experience</h2>
	<ul class="work_title">
		<li>Additive Manufacturing</li>
		<li>Medical Device Commercialization</li>
		<li>Outsourced Manufacturing</li>
		<li>LEAN Six Sigma</li>
		<li>Digital Dentistry</li>
	</ul>

	<!-- <h2>Timeline</h2> -->
	<!-- <div id="container">
		<ul id="timeline" class="timeline">
			<li><%= Time.now.strftime("%Y") %>-Present</li>
				<ul class="timeline_work">
					<li>3M</li>
				</ul>
			<li>2012</li>
			<li>2010</li>
			<li>2009</li>
			<li>2008</li>
			<li>2007</li>
			<li>2006</li>
			<li>2005</li>
			<li>2004</li>
			<li>2003</li>
			<li>2002</li>
		</ul>
	</div> -->
</div>