@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.left {
  text-align:left;
}

.left h1 {
  margin-bottom: 10px;
}

.navbar-inner .container {
	width: auto;
}

.badges nav a{
	margin-top:20px;
	margin-left: 20px;
	margin-right: 20px;
}

.pull-right {
	float: right !important;
}

.calign {
	float:center;
}

.sidebar {
	float: right;
	margin-left: 1em;
}

.work_list {
	list-style: none;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 9px;
  font-weight: bold;
  line-height: 1;
	&:hover{
	  color: #fff;
	  text-decoration: none;
	}
}

#twitter {
	.center-block{};	
	p	{
		font-size: 14px;
	}
}


#yelp {
	margin-top: 1.5em;
	margin-bottom: 2em;
}

/*footer*/

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	text-align: center;
}
