.tumblr_posts{
	list-style-type: none;
}
	
.tumblr_post{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1em;
	padding-top: 1em;
	padding-left:0.5em;
	border-top: 1px solid #eaeaea;
	
	a	{
		
		&:hover {
			text-decoration: none;
		}
		
	}
}

.tumblr_link{
	font-size: 1.5em;
}
	
.tumblr_title{
	
}

.tumblr_body {
	img	{
		
	}
}
.read_more_container{
	
	a	{
		
	}
}
	
.tumblr_quote{
	
	p	{
		
	}
}

.tumblr_source{
	
}